@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./css/variables.css";

:root{
--blue-faded-color: #036aa1ce;
--blue-color: #0369a1;
--lightblue-faded-color: #12b3dede;
--lightblue-color: #12b3de;
--yellow-faded-color: #eed636cc;
--yellow-color: #eed636;
--green-faded-color: #36ca36db;
--green-color: #36ca36;
--orange-faded-color: #f58639e0;
--orange-color: #f97316ed;
}

html{
  overflow-x: hidden;
}

html, body{
  scroll-behavior: smooth;
}

#app-wrapper{
  overflow-x: hidden !important;
  position:relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darker-color);
}


.overflow-y-scroll::-webkit-scrollbar {
  width: 10px;
}
.overflow-y-scroll::-webkit-scrollbar-track {
  background: var(--darker-color); 
  border-radius: 10px;
}
.overflow-y-scroll::-webkit-scrollbar-thumb {
  border-radius:10px;
}
.overflow-y-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
} 

.scroll-yellow::-webkit-scrollbar-thumb{
  background: var(--yellow-color); 
}
.scroll-blue::-webkit-scrollbar-thumb{
  background: var(--blue-color); 
}
.scroll-lightblue::-webkit-scrollbar-thumb{
  background: var(--lightblue-color); 
}
.scroll-green::-webkit-scrollbar-thumb{
  background: var(--green-color); 
}
.scroll-orange::-webkit-scrollbar-thumb{
  background: var(--orange-color); 
}

.outer::-webkit-scrollbar{
  visibility: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue .text-outline{
  color: transparent;
  text-shadow: 1px 1px 4px var(--blue-faded-color);
  background-clip: text;
  -webkit-text-stroke: 2px var(--blue-color);
}

.blue .border-solid{
  border-color: var(--blue-faded-color);
}

.lightblue .text-outline{
  color: transparent;
  text-shadow: 1px 1px 4px var(--lightblue-faded-color);
  background-clip: text;
  -webkit-text-stroke: 2px var(--lightblue-color);
}

.lightblue .border-solid{
  border-color: var(--lightblue-faded-color);
}

.yellow .text-outline{
  color: transparent;
  text-shadow: 1px 1px 4px var(--yellow-faded-color);
  background-clip: text;
  -webkit-text-stroke: 2px var(--yellow-color);
}

.yellow .border-solid{
  border-color: var(--yellow-faded-color);
}

.green .text-outline{
  color: transparent;
    text-shadow: 1px 1px 4px var(--green-faded-color);
    background-clip: text;
    -webkit-text-stroke: 2px var(--green-color);
}

.green .border-solid{
  border-color: var(--green-faded-color);
}

.orange .text-outline{
  color: transparent;
  text-shadow: 1px 1px 4px var(--orange-faded-color);
  background-clip: text;
  -webkit-text-stroke: 2px var(--orange-color);
}

.orange .border-solid{
  border-color: var(--orange-faded-color);
}


.blue>.text-outline{
  text-shadow: 1px 1px 4px var(--blue-faded-color);
  -webkit-text-stroke: 2px var(--blue-color);
}
.lightblue>.text-outline{
  text-shadow: 1px 1px 4px var(--lightblue-faded-color);
  -webkit-text-stroke: 2px var(--lightblue-color);
}
.yellow>.text-outline{
  text-shadow: 1px 1px 4px var(--yellow-faded-color);
  -webkit-text-stroke: 2px var(--yellow-color);
}
.green>.text-outline{
  text-shadow: 1px 1px 4px var(--green-faded-color);
  -webkit-text-stroke: 2px var(--green-color);
}
.orange>.text-outline{
  text-shadow: 1px 1px 4px var(--orange-faded-color);
  -webkit-text-stroke: 2px var(--orange-color);
}

.blue>.themeBackground{
  background-color: var(--blue-color);
}
.lightblue>.themeBackground{
  background-color: var(--lightblue-color);
}
.yellow>.themeBackground{
  background-color: var(--yellow-color);
}
.green>.themeBackground{
  background-color: var(--green-color);
}
.orange>.themeBackground{
  background-color: var(--orange-color);
}